<table>
  {% block content %}{% endblock %}
  <tr>
    Regards,<br />
    {{ applicationName }} team
  </tr>
  <tr style="text-align: center; padding-top: 100px;">
    <td>
      &copy; {{ year }} {{ applicationName }}. All rights reserved.
    </td>
  </tr>
</table>