{% extends 'email.twig' %}
{% block content %}
  <tr>
    <td>Uuse this{{ applicationName }} account. This code is only valid for {{ timeout }} minutes.</td>
  </tr>
  <tr>
    <td style="text-align: center; padding: 50px;">
      <div style="font-weight: bold;">Your new password code is:</div>
      <div style="font-weight: bold; font-size: 32pt;">{{ pass }}</div>
    </td>
  </tr>
  <tr>
    <td>If you did not request a password reset, please ignore this email and contact support if you have questions.</td>
  </tr>
{% endblock %}