<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" color="dark">
      <ion-tab-button tab="admin-home">
          <ion-icon name="navigate"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="users">
        <ion-icon name="people"></ion-icon>
       <ion-label>Users</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="csvreader">
        <ion-icon name="document"></ion-icon>
       <ion-label>CSV Upload</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="admin-updater">
        <ion-icon name="settings"></ion-icon>
       <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
