.header-container {
    padding-bottom: 0;
  }
  
  h1 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 0;
  }
  
  .header-image {
    display: block;
    margin: 0 auto;
    width: 160px;
    max-width: 80%;
  }
  
  .button-container {
    padding-top: 0;
  }
  
  .error {
    &.failure {
      color: var(--ion-color-danger);
    }
  }
  
  ion-item {
    --highlight-background: var(--ion-color-primary);
  }
  
  ion-button {
    
  }
  