<!--Login page content-->
<ion-content padding>
    <form #form="ngForm" (ngSubmit)="reset()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/rhino-black.png" class="header-image" />
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding class="header-container">
              <h1>Enter account email address</h1>
            </div>
            <div padding>
              <ion-item no-padding>
                <ion-label position="floating">Email</ion-label>
                <ion-input name="email" type="email" placeholder="email@example.com" [(ngModel)]='enteredEmail' required></ion-input>
              </ion-item>
            </div>
            <div padding class="error" [class.failure]="error && !resetting" *ngIf="error">
              {{ error }}
            </div>
            <div padding text-right class="button-container">
              <ion-button type="submit" size="medium" color="dark" [disabled]="form.invalid || resetting">
                Reset password
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
  